<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hsoft.mobile.projectrecord.mapper.ReqScheduleMapper">
  <resultMap id="BaseResultMap" type="hsoft.mobile.projectrecord.model.ReqSchedule">
    <id column="schedId" jdbcType="INTEGER" property="schedid" />
    <result column="projIndex" jdbcType="VARCHAR" property="projindex" />
    <result column="reqId" jdbcType="INTEGER" property="reqid" />
    <result column="platformId" jdbcType="INTEGER" property="platformid" />
    <result column="reqPrinciple" jdbcType="INTEGER" property="reqprinciple" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="deadlineNote" jdbcType="VARCHAR" property="deadlinenote" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="startTimeNote" jdbcType="VARCHAR" property="starttimenote" />
    <result column="completeTime" jdbcType="TIMESTAMP" property="completetime" />
    <result column="completeTimeNote" jdbcType="VARCHAR" property="completetimenote" />
    <result column="onlineTime" jdbcType="TIMESTAMP" property="onlinetime" />
    <result column="onlineTimeNote" jdbcType="VARCHAR" property="onlinetimenote" />
    <result column="createId" jdbcType="INTEGER" property="createid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateId" jdbcType="INTEGER" property="updateid" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="hide" jdbcType="INTEGER" property="hide" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    schedId, projIndex, reqId, platformId, reqPrinciple, deadline, deadlineNote, startTime, 
    startTimeNote, completeTime, completeTimeNote, onlineTime, onlineTimeNote, createId, 
    createTime, updateId, updateTime, hide
  </sql>
  <select id="selectByExample" parameterType="hsoft.mobile.projectrecord.model.ReqScheduleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from req_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from req_schedule
    where schedId = #{schedid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from req_schedule
    where schedId = #{schedid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="hsoft.mobile.projectrecord.model.ReqScheduleExample">
    delete from req_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hsoft.mobile.projectrecord.model.ReqSchedule">
    insert into req_schedule (schedId, projIndex, reqId, 
      platformId, reqPrinciple, deadline, 
      deadlineNote, startTime, startTimeNote, 
      completeTime, completeTimeNote, onlineTime, 
      onlineTimeNote, createId, createTime, 
      updateId, updateTime, hide
      )
    values (#{schedid,jdbcType=INTEGER}, #{projindex,jdbcType=VARCHAR}, #{reqid,jdbcType=INTEGER}, 
      #{platformid,jdbcType=INTEGER}, #{reqprinciple,jdbcType=INTEGER}, #{deadline,jdbcType=TIMESTAMP}, 
      #{deadlinenote,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{starttimenote,jdbcType=VARCHAR}, 
      #{completetime,jdbcType=TIMESTAMP}, #{completetimenote,jdbcType=VARCHAR}, #{onlinetime,jdbcType=TIMESTAMP}, 
      #{onlinetimenote,jdbcType=VARCHAR}, #{createid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateid,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, #{hide,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="hsoft.mobile.projectrecord.model.ReqSchedule">
    insert into req_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedid != null">
        schedId,
      </if>
      <if test="projindex != null">
        projIndex,
      </if>
      <if test="reqid != null">
        reqId,
      </if>
      <if test="platformid != null">
        platformId,
      </if>
      <if test="reqprinciple != null">
        reqPrinciple,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="deadlinenote != null">
        deadlineNote,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="starttimenote != null">
        startTimeNote,
      </if>
      <if test="completetime != null">
        completeTime,
      </if>
      <if test="completetimenote != null">
        completeTimeNote,
      </if>
      <if test="onlinetime != null">
        onlineTime,
      </if>
      <if test="onlinetimenote != null">
        onlineTimeNote,
      </if>
      <if test="createid != null">
        createId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updateid != null">
        updateId,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="hide != null">
        hide,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedid != null">
        #{schedid,jdbcType=INTEGER},
      </if>
      <if test="projindex != null">
        #{projindex,jdbcType=VARCHAR},
      </if>
      <if test="reqid != null">
        #{reqid,jdbcType=INTEGER},
      </if>
      <if test="platformid != null">
        #{platformid,jdbcType=INTEGER},
      </if>
      <if test="reqprinciple != null">
        #{reqprinciple,jdbcType=INTEGER},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="deadlinenote != null">
        #{deadlinenote,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttimenote != null">
        #{starttimenote,jdbcType=VARCHAR},
      </if>
      <if test="completetime != null">
        #{completetime,jdbcType=TIMESTAMP},
      </if>
      <if test="completetimenote != null">
        #{completetimenote,jdbcType=VARCHAR},
      </if>
      <if test="onlinetime != null">
        #{onlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="onlinetimenote != null">
        #{onlinetimenote,jdbcType=VARCHAR},
      </if>
      <if test="createid != null">
        #{createid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateid != null">
        #{updateid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="hide != null">
        #{hide,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hsoft.mobile.projectrecord.model.ReqScheduleExample" resultType="java.lang.Long">
    select count(*) from req_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update req_schedule
    <set>
      <if test="record.schedid != null">
        schedId = #{record.schedid,jdbcType=INTEGER},
      </if>
      <if test="record.projindex != null">
        projIndex = #{record.projindex,jdbcType=VARCHAR},
      </if>
      <if test="record.reqid != null">
        reqId = #{record.reqid,jdbcType=INTEGER},
      </if>
      <if test="record.platformid != null">
        platformId = #{record.platformid,jdbcType=INTEGER},
      </if>
      <if test="record.reqprinciple != null">
        reqPrinciple = #{record.reqprinciple,jdbcType=INTEGER},
      </if>
      <if test="record.deadline != null">
        deadline = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deadlinenote != null">
        deadlineNote = #{record.deadlinenote,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.starttimenote != null">
        startTimeNote = #{record.starttimenote,jdbcType=VARCHAR},
      </if>
      <if test="record.completetime != null">
        completeTime = #{record.completetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completetimenote != null">
        completeTimeNote = #{record.completetimenote,jdbcType=VARCHAR},
      </if>
      <if test="record.onlinetime != null">
        onlineTime = #{record.onlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.onlinetimenote != null">
        onlineTimeNote = #{record.onlinetimenote,jdbcType=VARCHAR},
      </if>
      <if test="record.createid != null">
        createId = #{record.createid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateid != null">
        updateId = #{record.updateid,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null">
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hide != null">
        hide = #{record.hide,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update req_schedule
    set schedId = #{record.schedid,jdbcType=INTEGER},
      projIndex = #{record.projindex,jdbcType=VARCHAR},
      reqId = #{record.reqid,jdbcType=INTEGER},
      platformId = #{record.platformid,jdbcType=INTEGER},
      reqPrinciple = #{record.reqprinciple,jdbcType=INTEGER},
      deadline = #{record.deadline,jdbcType=TIMESTAMP},
      deadlineNote = #{record.deadlinenote,jdbcType=VARCHAR},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      startTimeNote = #{record.starttimenote,jdbcType=VARCHAR},
      completeTime = #{record.completetime,jdbcType=TIMESTAMP},
      completeTimeNote = #{record.completetimenote,jdbcType=VARCHAR},
      onlineTime = #{record.onlinetime,jdbcType=TIMESTAMP},
      onlineTimeNote = #{record.onlinetimenote,jdbcType=VARCHAR},
      createId = #{record.createid,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateId = #{record.updateid,jdbcType=INTEGER},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      hide = #{record.hide,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hsoft.mobile.projectrecord.model.ReqSchedule">
    update req_schedule
    <set>
      <if test="projindex != null">
        projIndex = #{projindex,jdbcType=VARCHAR},
      </if>
      <if test="reqid != null">
        reqId = #{reqid,jdbcType=INTEGER},
      </if>
      <if test="platformid != null">
        platformId = #{platformid,jdbcType=INTEGER},
      </if>
      <if test="reqprinciple != null">
        reqPrinciple = #{reqprinciple,jdbcType=INTEGER},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="deadlinenote != null">
        deadlineNote = #{deadlinenote,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttimenote != null">
        startTimeNote = #{starttimenote,jdbcType=VARCHAR},
      </if>
      <if test="completetime != null">
        completeTime = #{completetime,jdbcType=TIMESTAMP},
      </if>
      <if test="completetimenote != null">
        completeTimeNote = #{completetimenote,jdbcType=VARCHAR},
      </if>
      <if test="onlinetime != null">
        onlineTime = #{onlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="onlinetimenote != null">
        onlineTimeNote = #{onlinetimenote,jdbcType=VARCHAR},
      </if>
      <if test="createid != null">
        createId = #{createid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateid != null">
        updateId = #{updateid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="hide != null">
        hide = #{hide,jdbcType=INTEGER},
      </if>
    </set>
    where schedId = #{schedid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hsoft.mobile.projectrecord.model.ReqSchedule">
    update req_schedule
    set projIndex = #{projindex,jdbcType=VARCHAR},
      reqId = #{reqid,jdbcType=INTEGER},
      platformId = #{platformid,jdbcType=INTEGER},
      reqPrinciple = #{reqprinciple,jdbcType=INTEGER},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      deadlineNote = #{deadlinenote,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      startTimeNote = #{starttimenote,jdbcType=VARCHAR},
      completeTime = #{completetime,jdbcType=TIMESTAMP},
      completeTimeNote = #{completetimenote,jdbcType=VARCHAR},
      onlineTime = #{onlinetime,jdbcType=TIMESTAMP},
      onlineTimeNote = #{onlinetimenote,jdbcType=VARCHAR},
      createId = #{createid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateId = #{updateid,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      hide = #{hide,jdbcType=INTEGER}
    where schedId = #{schedid,jdbcType=INTEGER}
  </update>
</mapper>